.auth-background {
    background-image: url('https://i.imgur.com/UTWGTRF.png');
    position: relative;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;
    height: 105vmin;
    margin: 0;
}

.switch-button-container {
    height: 135px;
    position: relative;
    display: block;
}

.switch-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.switch-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.switch-button:hover:after {
  transform: translate(0, 0);
}

.switch-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.switch-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}