.email, .password {
    color: gray;
}

.email-input, .password-input {
    padding: 3px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid gray;
}

.login-container {
    position: relative;
    display: flex;
    justify-content: center;
}


.login-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.login-button:hover:after {
  transform: translate(0, 0);
}

.login-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.login-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .login-button {
    padding: 0 40px;
  }
}