.profile-edit {
    list-style-type: none;
}

input {
    padding: 3px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgb(213,194,194);
    color: gray;
    font-weight: bold;
}

.profile-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    height: 130px;
    background-color: #fee6e3;
    box-sizing: border-box;
    border: 2px solid #111;
    overflow: hidden;
    white-space: nowrap;
}