.profile-edit {
    list-style-type: none;
}

input {
    padding: 3px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid gray;
    background-color: rgb(213,194,194);
    color: gray;
    font-weight: bold;
}